[submodule "dependencies/uwm_motion"]
	path = dependencies/uwm_motion
	url = https://github.com/kksham111/unified-world-model
[submodule "dependencies/SpaTrackerV2"]
	path = dependencies/SpaTrackerV2
	url = https://github.com/kksham111/SpaTrackerV2
